<p class='link'><%= link_to 'Home', index_voices_path(), :method => :get %> | <a href="/sessions/new">Login</a> | <a href="/users/new">Register</a></p>
<div class='missionStatement'>
<h1>Mission Statement</h1>
<p class='statement'>Our mission is to provide a platform where everyone has a voice! Free speech is strongly considered the most important thing that every person needs to have in order to have freedom from oppression. So if you have a point of view you can use this platform to express that opinion. The only thing we require is that everyone on this platform behaves themselves and treats each other with respect. If that is not done your message or comment will be deleted. If you decide to continue to not behave properly your third strike will get you banned permanently. Welcome to the family and let us know if you have questions, concerns or suggestions.
</p>
</div>